### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### LOGS ###
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Node ###
node_modules/
jspm_packages/
.npm
package-lock.json

### DotEnv ###
.env

uploads/