<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /~quasemago/

    # Redireciona todas as solicitações para index.html
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /~quasemago/index.html [L]
</IfModule>